body{
    background-color: rgba(0, 67, 70, 0.9);

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

input{
    outline: none;
    display: block;
    margin: 10px 0px;
}

input:focus::placeholder{
    color: transparent;
}

.forgotPass-Anchor{
    display: block;
    text-decoration: none;
}

.form-Div{
    border: 4px solid rgb(80, 137, 145);
    border-radius: 20px;

    background-color: rgba(0, 67, 70, 0.8);
    padding: 20px;
    height: 400px;
    width: 300px; 
}